In [2]:
import pandas as pd
import json
import numpy as np
import csv

In [3]:
df  = pd.read_csv('../data/extract/data_restaurants.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/extract/data_restaurants.csv'

In [ ]:
df.tail(100)

,dish_name,details,categories,unitMinPrices
4931,Combo Tributo a la Casa,Sándwich de jamón de cerdo + Papas Tributo (12...,Combos,"[16900, 'tributo-north-point-usaquen', 4.38264..."
4932,Combo Tributo a la Costa,Sándwich de carne desmechada en salsa de panel...,Combos,"[21900, 'tributo-north-point-usaquen', 4.38264..."
4933,Combo Tributo al Campo,Sándwich de pollo en salsa criolla+ Papas Trib...,Combos,"[17900, 'tributo-north-point-usaquen', 4.38264..."
4934,Combo Tributo al Llano,Sándwich de carnes asada y chorizo + Papas Tri...,Combos,"[19900, 'tributo-north-point-usaquen', 4.38264..."
4935,Combo Tributo al Pacífico,Sándwich de encocado de cerdo desmechado + Pap...,Combos,"[21900, 'tributo-north-point-usaquen', 4.38264..."
...,...,...,...,...
5026,Té Hatsu Mangostino 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5027,Té Hatsu Flor de Cerezo 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5028,Agua Cristal sin Gas 600ml,whitout details,Bebidas,"[2800, 'fresh-to-go-timbre-301-los-cedritos', ..."
5029,Agua Cristal con Gas 600ml,whitout details,Bebidas,"[3500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5030,Coca Cola Sin Azúcar 250ml,whitout details,Bebidas,"[3000, 'fresh-to-go-timbre-301-los-cedritos', ..."

In [ ]:
df['prices'] = df['unitMinPrices'].apply(lambda x: x.split(',')[0].replace('[','$'))
df['restaurant_name'] = df['unitMinPrices'].apply(lambda x: x.split(
    ',')[1].replace('---', ' ').replace('--', ' ').replace('-', ' '))
df['valoration'] = df['unitMinPrices'].apply(lambda x: x.split(',')[2].replace(']',''))

In [ ]:
df

,dish_name,details,categories,unitMinPrices,prices,restaurant_name,valoration
0,1 pollo asado,"1 pollo asado con 4 papas salada, 4 arepas y ...",Pollos,"[30900, 'la-riviera--colina-parque-mazuren', 4...",$30900,'la riviera colina parque mazuren',4.333330154418945
1,1 pollo broasted,1 pollo broasted con 1 porción de papa a la fr...,Pollos,"[31900, 'la-riviera--colina-parque-mazuren', 4...",$31900,'la riviera colina parque mazuren',4.333330154418945
2,1/2 pollo asado,"1/2 pollo asado con 2 papas salada, 2 arepas y...",Pollos,"[16900, 'la-riviera--colina-parque-mazuren', 4...",$16900,'la riviera colina parque mazuren',4.333330154418945
3,1/2 pollo broasted,1/2 pollo broasted con 1/2 porción de papa a l...,Pollos,"[20900, 'la-riviera--colina-parque-mazuren', 4...",$20900,'la riviera colina parque mazuren',4.333330154418945
4,1/4 pollo asado,"1/4 pollo asado con 1 papas salada, 2 arepas y...",Pollos,"[9700, 'la-riviera--colina-parque-mazuren', 4....",$9700,'la riviera colina parque mazuren',4.333330154418945
...,...,...,...,...,...,...,...
5026,Té Hatsu Mangostino 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ...",$6500,'fresh to go timbre 301 los cedritos',4.444439888000488
5027,Té Hatsu Flor de Cerezo 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ...",$6500,'fresh to go timbre 301 los cedritos',4.444439888000488
5028,Agua Cristal sin Gas 600ml,whitout details,Bebidas,"[2800, 'fresh-to-go-timbre-301-los-cedritos', ...",$2800,'fresh to go timbre 301 los cedritos',4.444439888000488
5029,Agua Cristal con Gas 600ml,whitout details,Bebidas,"[3500, 'fresh-to-go-timbre-301-los-cedritos', ...",$3500,'fresh to go timbre 301 los cedritos',4.444439888000488
5030,Coca Cola Sin Azúcar 250ml,whitout details,Bebidas,"[3000, 'fresh-to-go-timbre-301-los-cedritos', ...",$3000,'fresh to go timbre 301 los cedritos',4.444439888000488

In [ ]:
df.drop(['unitMinPrices'], axis=1, inplace=True)

In [40]:
df.reindex(columns=['restaurant_name', 'dish_name', 'details', 'categories', 'prices', 'valoration'])

,restaurant_name,dish_name,details,categories,prices,valoration
0,'di mary pasta prado veraniego',Combo Bolognesa,"Spaghetti en salsa Bolognesa, con queso parmes...",Promo Exclusiva,16000.0,4.42857
1,'di mary pasta prado veraniego',Combo Pasta,Fettuccine en salsa DiMary con queso parmesano...,Promo Exclusiva,16000.0,4.42857
2,'di mary pasta prado veraniego',Combo Carbonara,Spaghetti en salsa carbonara con queso parmesa...,Promos,16000.0,4.42857
3,'di mary pasta prado veraniego',Fettuccine,Acompañado con queso parmesano y pan de la casa.,Arma tu Pasta,15000.0,4.42857
4,'di mary pasta prado veraniego',Spaghetti,Acompañado con queso parmesano y pan de la casa.,Arma tu Pasta,15000.0,4.42857
...,...,...,...,...,...,...
5022,'el original orquideas orquideas',1 Pollo + 2 Porciones de Papa Salada,1 Pollo (8 presas) + 2 porciones de papa a la ...,Combos Pa' Compartir,36900.0,4.48780
5023,'el original orquideas orquideas',1 Pollo + 1 Porción de Papa Salada + Gaseosa 1...,1 Pollo (8 presas) + 2 porciones de papa a la ...,Combos Pa' Compartir,36900.0,4.48780
5024,'el original orquideas orquideas',1 Pollo + 2 Porciones de Salada + Plátano,1 Pollo (8 presas) + 2 porciones de papa salad...,Combos Pa' Compartir,47900.0,4.48780
5025,'el original orquideas orquideas',1 Pollo + 2 Porciones de Francesa + Plátano,1 Pollo (8 presas) + 2 porciones de papa a la ...,Combos Pa' Compartir,49900.0,4.48780
5026,'el original orquideas orquideas',1 Pollo + Porción de Papa Salada,1 Pollo + Porción de papa salada\n\n\n\n\n\n,Más descuentos con Falabella!,28900.0,4.48780

In [ ]:
df.to_csv('../data/transform/ifood_clean_.csv', sep=',', index=False, encoding='utf-8')

In [37]:
df = pd.read_csv('../data/transform/ifood.csv')

In [50]:
df= pd.read_csv('../data/transform/ifood.csv')

In [51]:
df.head(20)

,restaurant_name,dish_name,details,categories,prices,valoration
0,'romeo y paleta britalia',Paleta arequipe,whitout details,Paletas en crema,6000.0,4.36364
1,'romeo y paleta britalia',Paleta banano y nutella,whitout details,Paletas en crema,6000.0,4.36364
2,'romeo y paleta britalia',Paleta brownie con arequipe,whitout details,Paletas en crema,6000.0,4.36364
3,'romeo y paleta britalia',Paleta cheesecake de arequipe,whitout details,Paletas en crema,6000.0,4.36364
4,'romeo y paleta britalia',Paleta cheesecake de mora,whitout details,Paletas en crema,6000.0,4.36364
5,'romeo y paleta britalia',Paleta chicle,whitout details,Paletas en crema,6000.0,4.36364
6,'romeo y paleta britalia',Paleta choco crispy,whitout details,Paletas en crema,6000.0,4.36364
7,'romeo y paleta britalia',Paleta choco naranja,whitout details,Paletas en crema,6000.0,4.36364
8,'romeo y paleta britalia',Paleta cocada,whitout details,Paletas en crema,6000.0,4.36364
9,'romeo y paleta britalia',Paleta guanábana,whitout details,Paletas en crema,6000.0,4.36364
10,'romeo y paleta britalia',Paleta hanuta waffer nutella,whitout details,Paletas en crema,6000.0,4.36364
11,'romeo y paleta britalia',Paleta jengibre miel y almendras,whitout details,Paletas en crema,6000.0,4.36364
12,'romeo y paleta britalia',Paleta julieta nueces caramelizadas,whitout details,Paletas en crema,6000.0,4.36364
13,'romeo y paleta britalia',Paleta limonada de coco,whitout details,Paletas en crema,6000.0,4.36364
14,'romeo y paleta britalia',Paleta milo,whitout details,Paletas en crema,6000.0,4.36364
15,'romeo y paleta britalia',Paleta oreo,whitout details,Paletas en crema,6000.0,4.36364
16,'romeo y paleta britalia',Paleta pie de limón,whitout details,Paletas en crema,6000.0,4.36364
17,'romeo y paleta britalia',Paleta pie de maracuyá,whitout details,Paletas en crema,6000.0,4.36364
18,'romeo y paleta britalia',Paleta rafaelo coco y almendras,whitout details,Paletas en crema,6000.0,4.36364
19,'romeo y paleta britalia',Paleta romeo,whitout details,Paletas en crema,6000.0,4.36364

In [62]:
pd.pivot_table(df, index=['restaurant_name', 'dish_name', 'categories'])

                                                                                                                      prices  \
restaurant_name             dish_name                                          categories
 'aborigen burger cedritos' 1 Hamburguesa Vegetariana + 1 Hamburguesa Vegan... Combos coca cola                      38900.0
                            1 Hamburguesa Vegetariana + 1 Hamburguesa Vegan... Combos                                38900.0
                            2 Hamburguesas de Res + 2 coca cola 400ml          Combos coca cola                      35900.0
                            2 Hamburguesas de Res y Tocineta Ahumada + Papa... Combos                                35900.0
                            4 Hamburguesas de Res y Tocineta Ahumada 110 gr... Combos                                70900.0
...                                                                                                                      ...
 'wok master mirandela'     Vegetariano roll                                   Sushi Vegetariano                     21800.0
                            Wonton                                             Postres                                8500.0
                            ¡Fruiits Roll x 6 - Saludable!                     ¡Más regalos para ti!                 10900.0
                            ¡Palmito Tempura x 12!                             ¡Ho Ho Ho con los mejores regalos!🎅🎄  23500.0
                            ¡Sakana Roll x 12!                                 ¡Ho Ho Ho con los mejores regalos!🎅🎄  23000.0

                                                                                                                     valoration
restaurant_name             dish_name                                          categories
 'aborigen burger cedritos' 1 Hamburguesa Vegetariana + 1 Hamburguesa Vegan... Combos coca cola                         4.71429
                            1 Hamburguesa Vegetariana + 1 Hamburguesa Vegan... Combos                                   4.71429
                            2 Hamburguesas de Res + 2 coca cola 400ml          Combos coca cola                         4.71429
                            2 Hamburguesas de Res y Tocineta Ahumada + Papa... Combos                                   4.71429
                            4 Hamburguesas de Res y Tocineta Ahumada 110 gr... Combos                                   4.71429
...                                                                                                                         ...
 'wok master mirandela'     Vegetariano roll                                   Sushi Vegetariano                        4.53333
                            Wonton                                             Postres                                  4.53333
                            ¡Fruiits Roll x 6 - Saludable!                     ¡Más regalos para ti!                    4.53333
                            ¡Palmito Tempura x 12!                             ¡Ho Ho Ho con los mejores regalos!🎅🎄     4.53333
                            ¡Sakana Roll x 12!                                 ¡Ho Ho Ho con los mejores regalos!🎅🎄     4.53333

[4988 rows x 2 columns]