locations = [
            ["10.9172982", "-74.7870181"],
        ];

In [2]:
import pandas as pd
import json
import numpy as np
import csv

In [90]:
df  = pd.read_csv('../data/transform/ifood7.csv')

In [91]:
df

,restaurant_name,dish_name,details,categories,unitMinPrice,valoration,delivery_fee,delivery_time_min,delivery_time_max
0,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",900 + DOMI GRATIS,22000.0,4.46890,6150.0,45,55
1,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,900 + DOMI GRATIS,18900.0,4.46890,6150.0,45,55
2,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",A solo $1900 Pago linea,22000.0,4.46890,6150.0,45,55
3,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,A solo $1900 Pago linea,18900.0,4.46890,6150.0,45,55
4,Atlantic Hamburguesería (la 8),Bacon burger,Pan tipo brioche con carne gratinada con mozar...,Solo por $2900,22000.0,4.46890,6150.0,45,55
...,...,...,...,...,...,...,...,...,...
8512,El 10 del Asado,Mazorca Pollo,whitout info,Mazorcas,15525.0,3.33333,3500.0,95,105
8513,El 10 del Asado,Mazorca combinada,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105
8514,El 10 del Asado,Mazorca especial,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105
8515,El 10 del Asado,Mazorca express,whitout info,Mazorcas,12650.0,3.33333,3500.0,95,105
8516,El 10 del Asado,Mazorca hawaiana,whitout info,Mazorcas,13800.0,3.33333,3500.0,95,105

In [92]:
df['coordenadas'] = "10.9172982 - 74.7870181"

In [93]:
df

,restaurant_name,dish_name,details,categories,unitMinPrice,valoration,delivery_fee,delivery_time_min,delivery_time_max,coordenadas
0,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",900 + DOMI GRATIS,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181
1,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,900 + DOMI GRATIS,18900.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181
2,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",A solo $1900 Pago linea,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181
3,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,A solo $1900 Pago linea,18900.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181
4,Atlantic Hamburguesería (la 8),Bacon burger,Pan tipo brioche con carne gratinada con mozar...,Solo por $2900,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181
...,...,...,...,...,...,...,...,...,...,...
8512,El 10 del Asado,Mazorca Pollo,whitout info,Mazorcas,15525.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181
8513,El 10 del Asado,Mazorca combinada,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181
8514,El 10 del Asado,Mazorca especial,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181
8515,El 10 del Asado,Mazorca express,whitout info,Mazorcas,12650.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181
8516,El 10 del Asado,Mazorca hawaiana,whitout info,Mazorcas,13800.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181

In [94]:
df['MZ name'] = 'soledad 2000'

In [95]:
df

,restaurant_name,dish_name,details,categories,unitMinPrice,valoration,delivery_fee,delivery_time_min,delivery_time_max,coordenadas,MZ name
0,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",900 + DOMI GRATIS,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181,soledad 2000
1,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,900 + DOMI GRATIS,18900.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181,soledad 2000
2,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",A solo $1900 Pago linea,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181,soledad 2000
3,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,A solo $1900 Pago linea,18900.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181,soledad 2000
4,Atlantic Hamburguesería (la 8),Bacon burger,Pan tipo brioche con carne gratinada con mozar...,Solo por $2900,22000.0,4.46890,6150.0,45,55,10.9172982 - 74.7870181,soledad 2000
...,...,...,...,...,...,...,...,...,...,...,...
8512,El 10 del Asado,Mazorca Pollo,whitout info,Mazorcas,15525.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181,soledad 2000
8513,El 10 del Asado,Mazorca combinada,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181,soledad 2000
8514,El 10 del Asado,Mazorca especial,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181,soledad 2000
8515,El 10 del Asado,Mazorca express,whitout info,Mazorcas,12650.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181,soledad 2000
8516,El 10 del Asado,Mazorca hawaiana,whitout info,Mazorcas,13800.0,3.33333,3500.0,95,105,10.9172982 - 74.7870181,soledad 2000

In [96]:
df = df.reindex(columns=['MZ name','coordenadas', 'restaurant_name', 'dish_name',
                         'details', 'categories', 'unitMinPrice', 'valoration', 'delivery_fee', 'delivery_time_min', 'delivery_time_max'])

In [97]:
df.head(100)

,MZ name,coordenadas,restaurant_name,dish_name,details,categories,unitMinPrice,valoration,delivery_fee,delivery_time_min,delivery_time_max
0,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",900 + DOMI GRATIS,22000.0,4.4689,6150.0,45,55
1,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,900 + DOMI GRATIS,18900.0,4.4689,6150.0,45,55
2,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",A solo $1900 Pago linea,22000.0,4.4689,6150.0,45,55
3,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,A solo $1900 Pago linea,18900.0,4.4689,6150.0,45,55
4,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,Pan tipo brioche con carne gratinada con mozar...,Solo por $2900,22000.0,4.4689,6150.0,45,55
...,...,...,...,...,...,...,...,...,...,...,...
95,soledad 2000,10.9172982 - 74.7870181,Sofimar Licores,Detodito bbq 150g,whitout info,Snacks,6500.0,5.0000,5500.0,41,51
96,soledad 2000,10.9172982 - 74.7870181,Sofimar Licores,Detodito natural 150g,whitout info,Snacks,6500.0,5.0000,5500.0,41,51
97,soledad 2000,10.9172982 - 74.7870181,Sofimar Licores,Dorito 185g,whitout info,Snacks,7000.0,5.0000,5500.0,41,51
98,soledad 2000,10.9172982 - 74.7870181,Sofimar Licores,Mani mezcla 40g,whitout info,Snacks,2000.0,5.0000,5500.0,41,51
99,soledad 2000,10.9172982 - 74.7870181,Sofimar Licores,Mani moto 70g,whitout info,Snacks,2000.0,5.0000,5500.0,41,51

In [98]:
df

,MZ name,coordenadas,restaurant_name,dish_name,details,categories,unitMinPrice,valoration,delivery_fee,delivery_time_min,delivery_time_max
0,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",900 + DOMI GRATIS,22000.0,4.46890,6150.0,45,55
1,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,900 + DOMI GRATIS,18900.0,4.46890,6150.0,45,55
2,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,"Pan tipo brioche con carne, gratinado con moz...",A solo $1900 Pago linea,22000.0,4.46890,6150.0,45,55
3,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Baby Chesses burger,Pan tipo brioche con carne gratinada con dobl...,A solo $1900 Pago linea,18900.0,4.46890,6150.0,45,55
4,soledad 2000,10.9172982 - 74.7870181,Atlantic Hamburguesería (la 8),Bacon burger,Pan tipo brioche con carne gratinada con mozar...,Solo por $2900,22000.0,4.46890,6150.0,45,55
...,...,...,...,...,...,...,...,...,...,...,...
8512,soledad 2000,10.9172982 - 74.7870181,El 10 del Asado,Mazorca Pollo,whitout info,Mazorcas,15525.0,3.33333,3500.0,95,105
8513,soledad 2000,10.9172982 - 74.7870181,El 10 del Asado,Mazorca combinada,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105
8514,soledad 2000,10.9172982 - 74.7870181,El 10 del Asado,Mazorca especial,whitout info,Mazorcas,16675.0,3.33333,3500.0,95,105
8515,soledad 2000,10.9172982 - 74.7870181,El 10 del Asado,Mazorca express,whitout info,Mazorcas,12650.0,3.33333,3500.0,95,105
8516,soledad 2000,10.9172982 - 74.7870181,El 10 del Asado,Mazorca hawaiana,whitout info,Mazorcas,13800.0,3.33333,3500.0,95,105

In [99]:
df.to_csv('../data/transform/ifood-soledad2000.csv', index=False)